@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Lobster|Open+Sans&display=swap");

* {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
}

.container {
  background-color: #eaeaea;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

@media screen and (max-width: 550px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar li a {
    font-size: 1rem;
  }

  * {
    font-size: 0.8rem;
  }
}

.navbar li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: transform 0.5s linear;
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar li a:hover {
  transform: scale(1.05);
}

#logo {
  font-family: Lobster, "Open Sans", sans-serif;
  font-size: 1.5rem;
}

/* Box */
.box {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
  padding: 30px 175px;
  text-align: center;
  width: 80%;
}

@media screen and (max-width: 700px) {
  .box {
    padding: 30px;
  }
}

.box h1 {
  margin: 10px 0;
  font-family: Lobster, "Open Sans", sans-serif;
  font-size: 3rem;
}

.box p {
  margin: 0 0 30px 0;
  color: rgba(51, 51, 51, 0.774);
  font-size: 1.5rem;
}

/* Scripture of the Day */
.day-scripture h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.day-scripture p {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-style: italic;
}

.record button {
  margin: 0 0 30px 0;
  padding: 10px 20px;
  border: solid 2px #000;
  background: #333;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #fff;
  font-weight: 650;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.record button:active {
  transform: scale(0.95);
}

.record button:hover {
  background-color: #fff;
  color: #333;
}

/* Lesson Lists */
.lesson {
  margin: 10px 0;
  padding: 10px;
}

.icon {
  font-size: 3rem;
  margin: 10px auto 15px auto;
}

.lesson h3 {
  font-size: 2.3rem;
}

.lesson p {
  margin: 20px 0 10px 0;
}

.lesson-list {
  display: inline;
  text-align: center;
  list-style-position: inside;
  list-style-type: square;
}

.lesson-list li {
  color: rgba(51, 51, 51, 0.774);
  font-size: 1.5rem;
}

.link {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: #333;
  text-decoration: underline;
}

/* Footer */
footer {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

footer p {
  font-size: 0.9rem;
  opacity: 60%;
}

/* Additional Classes */
.completed {
  text-decoration: line-through;
}
